body {
    height: auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
}

nav {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #bb9393;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

nav ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #000000;
}

h1 {
    color: #b32c79;
    text-align: left;
}

h2 {
    color: #b32c79;
    margin: 0px;
}

p {
    color: #000000;
    text-align: justify;
    margin: 10px;
    line-height: 1.5;
}

section {
    padding: 10px;
    margin: 10px;
    scroll-margin-top: 80px;
}

.home {
    padding: 2%;
    background-color: #fbe9e9;
    border-radius: 10px;
}

.home img {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: #922d5a;
    color: white;
    border-color: #922d5a;
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover {
    background: #721a41;
    color: white;
    transform: scale(1.05);
    transition: 0.3s;
}

#about {
    background-color: #fbe9e9;
    /* background-color: #f0f0f0; */
    border-radius: 10px;
    margin-top: 50px;
    padding: 40px;
}

#skills {
    background-color: #fbe9e9;
    /* background-color: #c6d7ca; */
    border-radius: 10px;
}

.skill-box {
    background: #bb9393;
    color: white;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-box:hover {
    transform: scale(1.1);
    background: #922d5a;
}

#contact {
    background-color: #fbe9e9;
    /* background-color: #dfd5d9; */
    border-radius: 10px;
}

h3 {
    padding: 0px;
    margin: 0px;
    color: #b32c79;
    text-align: center;
}

.project-container {
    padding-top: 4%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 500px;
    padding: 2%;
    gap: 2%;
    background-color: #dfd5d9;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.card p {
    text-align: justify;
    margin: 10px;
    color: #000000;
    line-height: 1.5;
}

.card img {
    width: 200px;
    padding: 20px;
    padding-bottom: 5px;
    gap: 20px;
    background-color: #dfd5d9;
}